---
layout: personal-default-swahili
lang: "sw"
core_page_id: p0013
title: Safari
description: 
keywords: 
image: 
image_is_local: false
image_alt: 
permalink: /sw/blog/travels/
blog_page_type: list
blog_page_category: travels
---

<div class="travels-post-list-page">

  <h1 class="page-heading">Safari</h1>

  <ul class="post-list">
    {% for post in site.blog %}
      {% if post.blog_page_type == "post" and post.blog_page_category == "travels" %}
      
        {% include post-list-item.html post_data=post %}

      {% endif %}
    {% endfor %}
  </ul>

  <p class="category-explainer">

  </p>

</div>
