---
layout: personal-default-swahili
lang: "sw"
core_page_id: p0014
title: Makala yote ya mawazo nasibu
description: 
keywords: 
image: 
image_is_local: false
image_alt: 
permalink: /sw/blog/random-thoughts/
blog_page_type: list
blog_page_category: random-thoughts
random_thoughts_tab: "all"
---

<div class="random-thoughts-post-list-page">

  <h1 class="page-heading">Makala ya Mawazo Nasibu</h1>

  {% include random-thoughts-main-tabs.html %}

  <ul class="post-list">
    {% for post in site.blog %}
      {% if post.blog_page_type == "post" and post.blog_page_category == "random-thoughts" %}
      
        {% include post-list-item.html post_data=post %}

      {% endif %}
    {% endfor %}
  </ul>

  <p class="category-explainer">
    
  </p>

</div>
