---
layout: personal-default-swahili
lang: "sw"
core_page_id: p0017
title: Chambuzi vs
description: 
keywords: 
image: 
image_is_local: false
image_alt: 
permalink: /sw/blog/random-thoughts/vs/
blog_page_type: list
blog_page_category: random-thoughts
blog_page_subcategory: vs
random_thoughts_tab: "vs"
---

<div class="random-thoughts-post-list-page {{page.random_thoughts_tab}}">

  <h1 class="page-heading">Chambuzi vs</h1>

  {% include random-thoughts-main-tabs.html %}

  <ul class="post-list">
    {% for post in site.blog %}
      {% if post.blog_page_type == "post" and post.blog_page_category == "random-thoughts" and post.blog_page_subcategory == "vs" %}
      
        {% include post-list-item.html post_data=post %}
        
      {% endif %}
    {% endfor %}
  </ul>

  <p class="category-explainer">
    
  </p>

</div>
